{% extends 'base.html.twig' %}

{% block title %}Création d'entreprise{% endblock %}

{% block body %}

<div class="row" style="margin-left: 10%">
    <p><h2>Formulaire pour créer son entreprise</h2></p>
    <br>
    <div class="col-md-6">
       {{ form_start(vueFormulaireAjoutEntreprise)}}
       <div>
           {{form_label(vueFormulaireAjoutEntreprise.nom)}}
           {{form_widget(vueFormulaireAjoutEntreprise.nom)}}
       </div>
       <div>
        {{form_label(vueFormulaireAjoutEntreprise.adresse)}}
        {{form_widget(vueFormulaireAjoutEntreprise.adresse)}}
        </div>
        <div>
           {{form_label(vueFormulaireAjoutEntreprise.activite)}}
           {{form_widget(vueFormulaireAjoutEntreprise.activite)}}
        </div>
        <button type="submit" class="btn btn-dark btn-lg" style="margin-top: 20px">Sauvegarder !</button>
        {{form_end(vueFormulaireAjoutEntreprise)}}

        
    </div>
</div>

{% endblock %}